.spinner {
    margin-top: 200px;
    text-align: center;
}

.spinner p {
    margin-top: 15px;
    font-size: 17px;
}


.loading-spinner {

    animation: loading-spinner 1s linear infinite;
}


@keyframes loading-spinner {

        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

}
